<html>

<head>
    <title>Employee Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#attendance_table').DataTable();
        });
    </script>
    <style>
    html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
        .container {
            width: 90% !important;
        }

        h1.header-text {
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="container mt-5">
        <center>

            <h1 class="header-text mt-3">Admin Profile</h1>
        </center>
        <table class="table table-bordered table-striped text-center table-hover mt-3">
            <thead class="">
                <tr>
                    <th>Last Name</th>
                     <th>First Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{request.user.last_name}}</td>
                    <td>{{request.user.first_name}}</td>
                    <td>{{request.user.email}}</td>
                    <td>{{request.user.username}}</td>

                </tr>
            </tbody>
        </table>

    </div>
</body>

</html>
